@model IEnumerable<StarShow_WebAdmin.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ticketQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.buyTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.buyAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totalMoney)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ticketQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.buyTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.buyAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.totalMoney)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
